imap-resilience/state-machine.json
{
  "StartAt": "GetEBSVolume",
  "States": {
    "GetEBSVolume": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name": "/imap-server/volume-id"
      },
      "ResultPath": "$.volumeId",
      "Next": "DescribeVolume"
    },
    "DescribeVolume": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeVolumes",
      "Parameters": {
        "VolumeIds.$": "States.Array($.volumeId.Parameter.Value)"
      },
      "ResultPath": "$.volumeState",
      "Next": "IsVolumeAvailable"
    },
    "IsVolumeAvailable": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.volumeState.Volumes[0].State",
          "StringEquals": "available",
          "Next": "AttachVolume"
        },
        {
          "Variable": "$.volumeState.Volumes[0].State",
          "StringEquals": "in-use",
          "Next": "DetachVolume"
        },
        {
          "Variable": "$.volumeState.Volumes[0].State",
          "StringEquals": "attaching",
          "Next": "WaitForVolume"
        },
        {
          "Variable": "$.volumeState.Volumes[0].State",
          "StringEquals": "detaching",
          "Next": "WaitForVolume"
        },
        {
          "Variable": "$.volumeState.Volumes[0].State",
          "StringEquals": "creating",
          "Next": "WaitForVolume"
        },
        {
          "Variable": "$.volumeState.Volumes[0].State",
          "StringEquals": "deleting",
          "Next": "WaitForVolume"
        }
      ]
    },
    "DetachVolume": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:detachVolume",
      "Parameters": {
        "VolumeId.$": "$.volumeId.Parameter.Value",
        "Force": true
      },
      "Catch": [
        {
          "ErrorEquals": [
            "InvalidVolume.State"
          ],
          "Next": "IsVolumeAvailable"
        }
      ],
      "ResultPath": null,
      "Next": "WaitForVolume"
    },
    "WaitForVolume": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "IsVolumeAvailable"
    },
    "AttachVolume": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:attachVolume",
      "Parameters": {
        "VolumeId.$": "$.volumeId.Parameter.Value",
        "InstanceId.$": "$.detail.EC2InstanceId",
        "Device": "/dev/sdb"
      },
      "ResultPath": null,
      "Next": "GetElasticIP"
    },
    "GetElasticIP": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Parameters": {
        "Name": "/imap-server/eip-id"
      },
      "ResultPath": "$.eipAllocationId",
      "Next": "AssociateEIP"
    },
    "AssociateEIP": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:associateAddress",
      "Parameters": {
        "AllocationId.$": "$.eipAllocationId.Parameter.Value",
        "InstanceId.$": "$.detail.EC2InstanceId"
      },
      "ResultPath": null,
      "Next": "StopInstance"
    },
    "StopInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:stopInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.detail.EC2InstanceId)"
      },
      "ResultPath": null,
      "Next": "WaitForStopped"
    },
    "WaitForStopped": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckStopped"
    },
    "CheckStopped": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.detail.EC2InstanceId)"
      },
      "ResultPath": "$.instanceState",
      "Next": "IsStopped"
    },
    "IsStopped": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.instanceState.Reservations[0].Instances[0].State.Name",
          "StringEquals": "stopped",
          "Next": "StartInstance"
        }
      ],
      "Default": "WaitForStopped"
    },
    "StartInstance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:startInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.detail.EC2InstanceId)"
      },
      "ResultPath": null,
      "Next": "WaitForRunning"
    },
    "WaitForRunning": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckRunning"
    },
    "CheckRunning": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Parameters": {
        "InstanceIds.$": "States.Array($.detail.EC2InstanceId)"
      },
      "ResultPath": "$.instanceState",
      "Next": "IsRunning"
    },
    "IsRunning": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.instanceState.Reservations[0].Instances[0].State.Name",
          "StringEquals": "running",
          "Next": "CompleteLifecycle"
        }
      ],
      "Default": "WaitForRunning"
    },
    "CompleteLifecycle": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:completeLifecycleAction",
      "Parameters": {
        "AutoScalingGroupName.$": "$.detail.AutoScalingGroupName",
        "LifecycleHookName.$": "$.detail.LifecycleHookName",
        "LifecycleActionToken.$": "$.detail.LifecycleActionToken",
        "LifecycleActionResult": "CONTINUE"
      },
      "End": true
    }
  }
}